#root {
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

li {
  list-style-type: none;
  margin: 1px;
}

li:hover {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-evenly;
}