#root {
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

li {
  list-style-type: none;
  margin: 1px;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 5px;
}

li:hover {
  cursor: pointer;
  border: 1px solid white;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.container > div > ul {
  height: 80vh;
  overflow-y: auto;
}

.container > div > div > p {
  max-width: 20vw;
}

.conflict {
  width: 80vw;
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
}

.conflict-pawn {
  background-color: red;
  height: 100%;
  width: calc(100% / 19);
  border-radius: 100% / 50%;
}

.conflict-space {
  border: 1px dashed gray;
  border-radius: 100% / 50%;
  height: 100%;
  width: calc(100% / 19);
}