#root {
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

li {
  list-style-type: none;
  margin: 1px;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 5px;
}

li:hover {
  cursor: pointer;
  border: 1px solid white;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.container > div > div > p {
  max-width: 20vw;
}